body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  /* 圖表容器 */
  .graph {
    width: 100%;
    height: 800px;
    border: 1px solid lightgray;
    position: relative;
  }
  
  /* 右側資訊面板 */
  .info-panel {
    width: 28%;
    height: 800px;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
    overflow-y: auto;
  }
  
  /* 按鈕的基本樣式，適用於身份篩選、中間按鈕、證供篩選等 */
  .filter-button {
    padding: 10px 15px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* 當按鈕被選中時，背景變紅 */
  .filter-button.active {
    background-color: red;
    color: white;
  }
  
  /* 當按鈕被按下時 */
  .filter-button:active {
    background-color: #e60000;
    color: white;
  }
  
  /* 當鼠標懸停在非選中的按鈕上時 */
  .filter-button:hover {
    background-color: #ddd;
  }
  
  /* 中間按鈕區 */
  .filter-buttons {
    text-align: center;
  }
  
  /* Media Query：針對 iPad 或螢幕寬度在 1024px 以下時 */
  @media (max-width: 1180px) {
    .graph {
      height: 680px;
    }
    .info-panel {
        height: 680px;
    }

  }
  
  /* Media Query：針對 iPad 橫向（landscape）模式時，將圖表高度設為 500px */
  @media (orientation: landscape) and (max-width: 1024px) {
    .graph {
      height: 900px;
    }
    .info-panel {
        height: 900px;
    }
  }
